.modal-body{
  
    .red{
        color: red;

    }
    .form-label {
        margin: 10px 0px;
    }
    

    
}
.edit{
    color: orange!important;

    margin-right: 5px;
    cursor: pointer;
}
.delete{
    color: #ff0000c4!important;

    cursor: pointer;
}